<div class="container">
    <section>
      <div class="column">
        <a href="javascript:void();" (click)="clicked($event)" data-language="javascript" alt="javascript">
          <div class="js-image"></div>
        </a>
      </div>
      <div class="column">
          <a href="javascript:void();" (click)="clicked($event)" data-language="php" alt="php">
              <div class="php-image"></div>
            </a>
      </div>
      <div class="column">
          <a href="javascript:void();" (click)="clicked($event)" data-language="java" alt="javascript">
              <div class="java-image"></div>
            </a>
      </div>
    </section>
    <section>
        <div class="column">
          <a href="javascript:void();" (click)="clicked($event)" data-language="go" alt="javascript">
              <div class="go-image"></div>
            </a>
        </div>
        <div class="column">
            <a href="javascript:void();" (click)="clicked($event)" data-language="scala" alt="javascript">
                <div class="scala-image"></div>
              </a>
        </div>
        <div class="column">
            <a href="javascript:void();" (click)="clicked($event)" data-language="cplus" alt="javascript">
                <div class="cplus-image"></div>
              </a>
        </div>
      </section>
</div>